<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Password</th>
      <th>photo num</th>
      <th>Birthday</th>
      <th>Startday</th>
      <th>Eye color</th>
      <th>Hair color</th>
      <th>Height</th>
      <th>Hairdressing</th>
      <th>Sex interest</th>
      <th>Sex gender</th>
      <th>Sex preference</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.facebook_id %></td>
      <td><%= user.password %></td>
      <td><%= user.photo_num %></td>
      <td><%= user.birthday %></td>
      <td><%= user.startday %></td>
      <td><%= user.eye_color %></td>
      <td><%= user.hair_color %></td>
      <td><%= user.height %></td>
      <td><%= user.hairdressing %></td>
      <td><%= user.sex_interest %></td>
      <td><%= user.sex_gender %></td>


      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
