<h1> MSD - user</h1>
<p id="notice"><%= notice %></p>

<div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @user.birthday %>
  </p>

  <p>
    <strong>Startday:</strong>
    <%= @user.startday %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= @user.job %>
  </p>

  <p>
    <strong>photo num:</strong>
    <%= @user.photo_num %>
  </p>

  <p>
    <strong>Eye color:</strong>
    <%= @user.eye_color %>
  </p>

  <p>
    <strong>Hair color:</strong>
    <%= @user.hair_color %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @user.height %>
  </p>

  <p>
    <strong>Hairdressing:</strong>
    <%= @user.hairdressing %>
  </p>

  <p>
    <strong>Sex interest:</strong>
    <%= @user.sex_interest %>
  </p>

  <p>
    <strong>Sex gender:</strong>
    <%= @user.sex_gender %>
  </p>

</div>
<div class="span8">
  <% if @lovers %>
    <h3>Lovers (<%= @lovers.count %>)</h3>
    <ol class="lovers">
      <%= render @lovers %>
    </ol>
  <% end %>
</div>





<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
