<h1>Listing Friendships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th>Accepted</th>
      <th>Pending</th>
      <th>Secret lover ask</th>
      <th>Secret lover accepted</th> 
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
    <tr>
      <td><%= friendship.user_id %></td>
      <td><%= friendship.friend_id %></td>
      <td><%= friendship.accepted %></td>
      <td><%= friendship.pending%></td>
      <td><%= friendship.secret_lover_ask %></td>
      <td><%= friendship.secret_lover_accepted %></td>
      <% if false %>
      <td><%= link_to 'Show', friendship %></td>
      <td><%= link_to 'Edit', edit_friendship_path(lover) %></td>
      <td><%= link_to 'Destroy', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if false %>
<%= link_to 'New Lover', new_lover_path %>
 <% end %>