<div class="span8">
    <h3><%= @title %></h3>
    <div><%= @friendship.user_id %></div>
    <div><%= @friendship.friend_id %></div>
    <div><%= @friendship.accepted %></div>
    <div><%= @reverse_friendship.user_id %></div>
    <div><%= @reverse_friendship.friend_id %></div>
    <div><%= @reverse_friendship.accepted %></div>
  </div>