<h1>Listing lovers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lover</th>
      <th>Name</th>
      <th>photo</th>
      <th>Age</th>
      <th>Sex gender</th>
      <th>Job</th>
      <th>Height</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lovers.each do |lover| %>
    <tr>
      <td><%= lover.user_id %></td>
      <td><%= lover.lover_id %></td>
      <td><%= lover.name %></td>
      <td><%= lover.photo_url%></td>
      <td><%= lover.age %></td>
      <td><%= lover.sex_gender %></td>
      <td><%= lover.job %></td>
      <td><%= lover.height %></td>
      <td><%= link_to 'Show', lover %></td>
      <% if false %>
      <td><%= link_to 'Edit', edit_lover_path(lover) %></td>
      <td><%= link_to 'Destroy', lover, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if false %>
<%= link_to 'New Lover', new_lover_path %>
 <% end %>